# Postgres database connection string
DATABASE_URL=postgresql://user:password@localhost:5432/mcc

# ImageKit credentials
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id

# JWT auth secret
JWT_ALGORITHM=jwt_algorithm
JWT_SECRET=replace_with_a_strong_secret
JWT_EXPIRES_IN=expiration_time
# Optional server port
PORT=5000
